%button {
  background-color: #3369f3;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

@mixin authButton {
  @extend %button;
  width: 100%;
  height: 37px;
  border-radius: 8px;
  font-size: 13px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
}
@mixin authLink {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #3369f3;
}
@mixin profileLink {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  color: #999999;
}
@mixin errorLink {
  @include authLink;
}
@mixin profileSettings {
  @include authLink;
  font-size: 13px;
}
@mixin return {
  position: absolute;
  left: 0;
  top: 0;
  width: 64px;
  height: 100%;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 28px;
    height: 28px;
  }
}
