@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");

@mixin sizing {
  box-sizing: border-box;
  margin: 0;
}

$font: "Inter", sans-serif;

@mixin loginFont {
  font-family: $font;
  font-size: 20px;
  font-weight: 500;
}
@mixin SigninFont {
  @include loginFont;
}
@mixin mainFont {
  @include loginFont;
}
