@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
.login__footer .login__footer-button, .signin__footer .signin__footer-button {
  background-color: #3369f3;
  border: none;
  color: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.login {
  width: 340px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  padding: 50px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 450px;
}

.signin {
  width: 340px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  padding: 50px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 615px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}

.login__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.login__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 300px;
}

.login__form label {
  color: #999999;
  font-size: 9px;
  line-height: 9px;
  font-weight: 500;
}

.login__form .login__form-input {
  outline: none;
  border-width: 0 0 1px;
  border-color: #3369f3;
  padding: 7px 0px;
  margin-bottom: 16px;
}

.login__form .login__form-input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
}

.login__form .login__form-input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
}

.login__form .login__form-input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
}

.login__form .login__form-input::placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
}

.login__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14px;
  margin-top: auto;
}

.login__footer .login__footer-button {
  width: 100%;
  height: 37px;
  border-radius: 8px;
  font-size: 13px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
}

.login__footer .login__footer-registration {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #3369f3;
  text-align: center;
}

.signin__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.signin__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signin__form label {
  color: #999999;
  font-size: 9px;
  line-height: 9px;
  font-weight: 500;
}

.signin__form .signin__form-input {
  outline: none;
  border-width: 0 0 1px;
  border-color: #3369f3;
  padding: 7px 0px;
  margin-bottom: 16px;
}

.signin__form .signin__form-input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
}

.signin__form .signin__form-input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
}

.signin__form .signin__form-input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
}

.signin__form .signin__form-input::placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
}

.signin__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14px;
  margin-top: auto;
}

.signin__footer .signin__footer-button {
  width: 100%;
  height: 37px;
  border-radius: 8px;
  font-size: 13px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
}

.signin__footer .signin__footer-registration {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #3369f3;
  text-align: center;
}
/*# sourceMappingURL=auth.css.map */