@import "../core/core.scss";
@import "../layout/container.scss";
@import "../components/buttons.scss";
* {
  @include sizing;
}
body {
  @include sizing;
}
.container {
  @include errorContainer;
  flex-direction: column;
}
.error {
  @include mainFont;
  justify-content: center;
  display: flex;
  flex-direction: column;
  .error__title {
    font-size: 40px;
    line-height: 40px;
    color: #1e1e1e;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .error__description {
    font-size: 20px;
    line-height: 20px;
    color: #1e1e1e;
    margin-bottom: 69px;
  }
  .error__return-button {
    display: flex;
    justify-content: center;
    @include errorLink;
  }
}
