@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
.profile__settings-button button {
  background-color: #3369f3;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.profile {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.profile__header .profile__header-avatar {
  width: 130px;
  height: 130px;
  background-color: #efefef;
  border-radius: 100%;
  margin-bottom: 20px;
}

.profile__header .profile__header-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #1e1e1e;
}

.profile__content {
  min-width: 510px;
  margin-top: 60px;
}

.profile__content .profile__content-item {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
  border-bottom: 1px solid #eaeaea;
}

.profile__content .profile__content-item span {
  color: #999999;
}

.profile__content .profile__content-item:last-child {
  border-bottom: none;
}

.profile__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 510px;
  margin-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.profile__footer a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #3369f3;
  font-size: 13px;
  padding: 10px 0px;
  border-bottom: 1px solid #eaeaea;
}

.profile__footer .profile__footer-close {
  color: #ff0000;
  border-bottom: none;
}

.return {
  position: absolute;
  left: 0;
  top: 0;
  width: 64px;
  height: 100%;
  background-color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.return img {
  width: 28px;
  height: 28px;
}

.profile__settings {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 510px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.profile__settings label {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
  width: 100%;
}

.profile__settings div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  padding: 10px 0px;
}

.profile__settings div:nth-last-child(2) {
  border-bottom: none;
}

.profile__settings .profile__settings-item {
  outline: none;
  border-width: 0px;
  width: 100%;
  margin-left: 30px;
  text-align: right;
}

.profile__settings .profile__settings-item::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
  color: #999999;
}

.profile__settings .profile__settings-item:-ms-input-placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
  color: #999999;
}

.profile__settings .profile__settings-item::-ms-input-placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
  color: #999999;
}

.profile__settings .profile__settings-item::placeholder {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
  color: #999999;
}

.profile__settings-button {
  border-bottom: none !important;
  width: 100%;
  margin-top: 30px;
}

.profile__settings-button a {
  width: 100%;
}

.profile__settings-button button {
  width: 100%;
  height: 37px;
  border-radius: 8px;
  font-size: 13px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  width: 100%;
}
/*# sourceMappingURL=profile.css.map */
